article {
  border: 1px solid lightblue;
  width: 25%;
  float: left;
  margin: 0.5%;
}

.header {
  border: 1px dotted lightgray;
  text-align: center;
}

img {
  width: 80%;
  margin: 0 auto;
}

.specifications, .pricing {
  font-weight: bold;
}

.availability {
  background-color: darkgray;
  color: yellow;
  width: 100%;
}

.specifications p {
  font-size: 8px;
}


